body {
    font-family: 'Roboto', sans-serif;
}

.root {
    width: 100%;
}

header {
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.header-content {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-mobile {
    display: none;
}

.logo {
    width: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.logo-line {
    border-left: 1px solid #DBDBDB;
    height: 22px;
}

.search {
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    text-align: center;
    border-radius: 3px;
    height: 28px;
    width: 215px;
}

.search:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 148px;
    font-size: 22px;
}

main {margin-top: 54px;
    background-color: #FAFAFA;
}

.main-content {
    padding-top: 34px;
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.feed {
    width: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stories-box {
    width: calc(100% - 2px);
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;    
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.story-item {
    height: 86px;
    width: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 14px;

}

.story-item:first-child {
    padding-left: 18px;
}

.story-item-image {
    width: 66px;
    height: 66px;
    background-image: url(../images/stories_background.jpg);
    background-size: 66px 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-item-image img {
    width: 56px;
}

.story-item p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #262626;
}

.more-stories {
    position: absolute;
    top: 46px;
    right: 8px;
}

.post {
    width: calc(100% - 2px);
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
}

.post-header {
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-user {
    display: flex;
    align-items: center;
}

.post-user-image {
    height: 32px;
    padding-left: 17px;
    padding-right: 15px;
}

.post-user-login {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.post-options {
    padding-right: 17px;
}

.post-video {
    width: 100%;
}

.post-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin: 10px 15px;
}

.reactions {
    padding-left: 15px;
    width: 78px;
    display: flex;
    justify-content: space-between;
}

.save-post {
    margin-right: 18px;
}

.like-info {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.last-like {
    width: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.like-info-text {
    font-size: 14px;
    font-weight: 300;
}

.like-info-text strong {
    font-weight: 500;
}

.comment-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}

.comment {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
}

.like-comment {
    padding-right: 18px;
}

.comment strong {
    font-weight: 500;
}

.comment-input {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    width: calc(100% - 5px - 15px);
    border-top: 1px solid #DBDBDB;
}

.comment-input input {
    width: calc(100% - 80px);
    border: none;
    border-radius: 3px;
}

.comment-input input:focus {
    outline: 0;
}

.comment-input button {
    width: 64px;
    border: none;
    background-color: #FFFFFF;
    color: #B2DFFC;
    font-weight: 500;
}

.comment-input button:hover {
    cursor: pointer;
    color: #0095F6;
    transition: color 0.3s;
}

.side-bar {
    width: 293px;
    height: 500px;
    position: fixed;
    right: calc(100vw / 2 - 935px / 2);
    top: 89px;
}

.user {
    display: flex;
    align-items: center;
    padding-top: 23px;
}

.user-info {
    padding-left: 17px;
}

.user-login {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.user-name {
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
}

.sugestions {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}

.sugestions-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
}

.sugestions-header p:first-child {
    color: #8E8E8E;
}

.sugestions-header p:last-child {
    color: #262626;
}

.sugestion-item {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugestion-item p {
    font-size: 12px;
    font-weight: 500;
    color: #139EF2;
}

.sugestion-user {
    display: flex;
}

.sugestion-user-info {
    padding-left: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sugestion-user-info p:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.sugestion-user-info p:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}

.links {
    padding-top: 33px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #C7C7C7;
}

.instagram-info {
    padding-top: 18px;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #C7C7C7;
}